# Core Streamlit & UI
streamlit==1.39.0
streamlit-option-menu==0.3.6
streamlit-folium==0.20.0

# Data & Analisis
pandas==2.2.2
numpy==1.26.4
scikit-learn==1.5.2
scipy==1.11.4
matplotlib==3.8.4

# Peta
folium==0.16.0
geopandas==0.13.2

# Engine Excel
openpyxl==3.1.2
